<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/nonediiterations"></ion-back-button>
    </ion-buttons>
    <ion-title style="white-space: pre-wrap !important;" >Logging Information </ion-title>


  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list>
    <ion-item class="padding1">
      <ion-label class="label"><strong>Layer3</strong></ion-label>
    </ion-item>

    <ion-item class="padding1">
      <ion-label class="label"><strong>Logging Information</strong></ion-label>
    </ion-item>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Drilling From:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-label type="text"  >{{drillingFrom}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Drilling To:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-label type="text" >{{drillingTo}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Type of Strata:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-label>{{typeOfstrata}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="isSoil">
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Type of Sample:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-item>
              <ion-label>{{typeOfsample}}</ion-label>

            </ion-item>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="isdsDepth">
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>DS Depth :</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-label type="text" >{{dsDepthFrom}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>







      <ion-row *ngIf="isSPTDepth">
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Penetration (cm)</strong></ion-label>

          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="padding">
          </ion-item>
        </ion-col>
      </ion-row>
  <ion-row *ngIf="isSPTDepth">

    <ion-col size="3"><ion-item class="padding"><ion-label ><strong>1st</strong></ion-label></ion-item></ion-col>
    <ion-col size="3"><ion-item class="padding"><ion-label ><strong>2nd</strong></ion-label></ion-item></ion-col>
    <ion-col size="3"><ion-item class="padding"><ion-label ><strong>3rd</strong></ion-label></ion-item></ion-col>
    <ion-col size="3"><ion-item class="padding"><ion-label ><strong>Total</strong></ion-label></ion-item></ion-col>

  </ion-row>
  <ion-row *ngIf="isSPTDepth">
    <ion-col size="3"><ion-item class="input"><ion-label type="number" >{{first}}</ion-label></ion-item></ion-col>
    <ion-col size="3"><ion-item class="input"><ion-label type="number"  >{{second}}</ion-label></ion-item></ion-col>
    <ion-col size="3"><ion-item class="input"><ion-label type="number" >{{third}}</ion-label></ion-item></ion-col>
    <ion-col size="3"><ion-item class="input"><ion-label>{{total}}</ion-label></ion-item></ion-col>

  </ion-row>
  <ion-row *ngIf="isSPTDepth">
    <ion-col size="6">
      <ion-item class="padding">
        <ion-label  style="white-space: pre-wrap !important;"><strong>Blows - N</strong></ion-label>

      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item class="padding">
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="isSPTDepth">
  <ion-col size="3"><ion-item class="padding"><ion-label ><strong>1st</strong></ion-label></ion-item></ion-col>
  <ion-col size="3"><ion-item class="padding"><ion-label ><strong>2nd</strong></ion-label></ion-item></ion-col>
  <ion-col size="3"><ion-item class="padding"><ion-label ><strong>3rd</strong></ion-label></ion-item></ion-col>
  <ion-col size="3"><ion-item class="padding"><ion-label ><strong>Total</strong></ion-label></ion-item></ion-col>

  </ion-row>
  <ion-row *ngIf="isSPTDepth">
  <ion-col size="3"><ion-item class="input"><ion-label type="number" ></ion-label>{{firstB}}</ion-item></ion-col>
  <ion-col size="3"><ion-item class="input"><ion-label type="number"  >{{secondB}}</ion-label></ion-item></ion-col>
  <ion-col size="3"><ion-item class="input"><ion-label type="number"  >{{thirdB}}</ion-label></ion-item></ion-col>
  <ion-col size="3"><ion-item class="input"><ion-label>{{totalB}}</ion-label></ion-item></ion-col>

  </ion-row>

  <ion-row *ngIf="oneB">
    <ion-col size="12" ><ion-item class="padding"><ion-label class="redtext"><strong>Refusal</strong></ion-label></ion-item></ion-col>
  </ion-row>


  <ion-row *ngIf="isUDSepth">
    <ion-col size="6">
      <ion-item class="padding">
        <ion-label  style="white-space: pre-wrap !important;"><strong>UDS Depth :</strong></ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item class="input">
        <ion-label type="text"  >{{udsDepthFrom}}</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>


  <ion-row *ngIf="isSPTDepth">
    <ion-col size="6">
      <ion-item class="padding">
        <ion-label  style="white-space: pre-wrap !important;"><strong>SPT Depth :</strong></ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item class="input">
        <ion-label type="text"  >{{sptDepthFrom}}</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>


  <ion-row *ngIf="isSoil" >
    <ion-col size="6">
      <ion-item class="padding">
        <ion-label  style="white-space: pre-wrap !important;"><strong>Soil Sample Color:</strong></ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item class="input">
        <ion-label type="text"  >{{soilSampleColor}}</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="isColorShown">
    <ion-col size="6">
      <ion-item class="padding">
        <ion-label style="white-space: pre-wrap !important;"><strong>Soil Sample Color Other:</strong><span
            class="required-asterisk">*</span></ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item class="input">

        <ion-label>colorOther</ion-label>



      </ion-item>
    </ion-col>
  </ion-row>





  <ion-row *ngIf="isSoil" >
    <ion-col size="6">
      <ion-item class="padding">
        <ion-label  style="white-space: pre-wrap !important;"><strong>Visual Classification of Sample:</strong></ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item class="input">

        <ion-label>{{visualClassification}}</ion-label>


        </ion-item>
    </ion-col>
  </ion-row>


  <ion-row  *ngIf="isRock">
    <ion-col size="6">
      <ion-item class="padding">
        <ion-label  style="white-space: pre-wrap !important;"><strong>Type of Sample (If Rock):</strong></ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item class="input">

        <ion-label>{{rockSample}}</ion-label>

      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="isRock">
    <ion-col size="6">
      <ion-item class="padding">
        <ion-label  style="white-space: pre-wrap !important;"><strong>Rock Depth From:</strong></ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item class="input">
        <ion-label type="text"  >{{rockDepthFrom}}</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="isRock">
    <ion-col size="6">
      <ion-item class="padding">
        <ion-label  style="white-space: pre-wrap !important;"><strong>Rock Depth To:</strong></ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item class="input">
        <ion-label type="text" >{{rockDepthTo}}</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>


  <ion-row *ngIf="isRock" >
    <ion-col size="6">
      <ion-item class="padding">
        <ion-label  style="white-space: pre-wrap !important;"><strong>Run Length:</strong></ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item class="input">
           <ion-label type="number" >{{runLength}}</ion-label>
        </ion-item>
    </ion-col>
  </ion-row>


  <ion-row *ngIf="isRock" >
    <ion-col size="6">
      <ion-item class="padding">
        <ion-label  style="white-space: pre-wrap !important;"><strong>Run Time:</strong></ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item class="input">
           <ion-label type="number" >{{runTime}}</ion-label>
        </ion-item>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="isRock" >
    <ion-col size="6">
      <ion-item class="padding">
        <ion-label  style="white-space: pre-wrap !important;"><strong>Water Loss:</strong></ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item class="input">
           <ion-label type="number" >{{waterLoss}}</ion-label>
        </ion-item>
    </ion-col>
  </ion-row>



  <ion-row *ngIf="isRock" >
    <ion-col size="6">
      <ion-item class="padding">
        <ion-label  style="white-space: pre-wrap !important;"><strong>CR %:</strong></ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item class="input">
        <ion-label  style="white-space: pre-wrap !important;"><strong>{{cr}}</strong></ion-label>
        </ion-item>
    </ion-col>
  </ion-row>

  <ion-row  *ngIf="isRock">
    <ion-col size="6">
      <ion-item class="padding">
        <ion-label  style="white-space: pre-wrap !important;"><strong>RQD %:</strong></ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item class="input">
        <ion-label  style="white-space: pre-wrap !important;"><strong>{{rqd}}</strong></ion-label>
        </ion-item>
    </ion-col>
  </ion-row>

  <ion-row  *ngIf="isRock">
    <ion-col size="6">
      <ion-item class="padding">
        <ion-label  style="white-space: pre-wrap !important;"><strong>Rock Sample Color</strong></ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item class="input">
        <ion-label type="text" >{{rockSamplColor}}</ion-label>
        </ion-item>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="isRock"  >
    <ion-col size="6">
      <ion-item class="padding">
        <ion-label  style="white-space: pre-wrap !important;"><strong>Type of Weathering</strong></ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item class="input">
        <ion-label>{{typeOfWeathering}}</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>


  <ion-row>
       <ion-col size="12">
      <ion-button  expand="block" style="text-transform: none;" (click)="onClick()">
        Next
      </ion-button>

    </ion-col>

  </ion-row>


  </ion-grid>

</ion-list>
</ion-content>

