<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/viewlist"></ion-back-button>
    </ion-buttons>
    <ion-title style="white-space: pre-wrap !important;" >Borehole Information </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>


    <ion-item class="padding1">
      <ion-label class="label"><strong>Layer2</strong></ion-label>
    </ion-item>

    <ion-item class="padding1">
      <ion-label class="label"><strong>Borehole Information</strong></ion-label>
    </ion-item>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Reference Standard Used:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-label  style="white-space: pre-wrap !important;"><strong>IS 1892; IS 2131; IS 2132</strong></ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Type of Structure:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-label type="text" cass="input" >{{typeOfStructure}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Borehole Number:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-label type="text" cass="input" >{{boreholeNumber}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Borehole Location:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-label type="text" cass="input" >{{boreholeLocation}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

       <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Latttude:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input" (click)="getLocations()">
            <ion-label type="text" cass="input" >{{latitude}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Borehole longitude:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-label type="text" cass="input" >{{longitude}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Borehole Chainage:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-label type="text" cass="input" >{{boreholeChainage}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>

        <ion-col size="12">
          <ion-item class="input">
            <ion-label>Borehole StartDate</ion-label>
            <ion-label>{{date}}</ion-label>
          </ion-item>
              </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Borehole RL (m):</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-label type="number" cass="input"  >{{rl}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Water Table RL (m):</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-label type="number" cass="input" >{{waterTable}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Type of Rig:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
              <ion-label>{{typeOfRig}}</ion-label>

            </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Type of Drilling:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-label>{{typeOfDrill}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Circulation Fluid:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-label>{{circulationFluid}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Drilling Orientation:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-label>{{orientation}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Borehole dia:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-label type="text" cass="input" >{{boreholeDia}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Casing dia:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-label type="text" cass="input" >{{boreholeCasingDia}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Casing Depth:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-label type="text" cass="input" >{{casingDepth}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row  >
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Details of Drilling Bit:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">

  <ion-label>{{detailsOfDrillingBit}}</ion-label>


            </ion-item>
        </ion-col>
      </ion-row>


      <ion-row  >
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Details of Core Barrel:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-label>{{detailsOdCoreBarrel}}</ion-label>

            </ion-item>
        </ion-col>
      </ion-row>

      </ion-grid>
      <ion-row>

        <ion-col size="12">
          <ion-button  expand="block" style="text-transform: none;" (click)="onClick()">
            Next
          </ion-button>

        </ion-col>

      </ion-row>
      </ion-list>
</ion-content>
