<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/sidemenu"></ion-back-button>
    </ion-buttons>
    <ion-title style="white-space: pre-wrap !important;" >Borehole Information</ion-title>


  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>


    <ion-item class="padding1">
      <ion-label class="label"><strong>Layer 2</strong></ion-label>
    </ion-item>

    <ion-item class="padding1">
      <ion-label class="label"><strong>Borehole Information</strong></ion-label>
    </ion-item>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Reference Standard Used:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-label  style="white-space: pre-wrap !important;"><strong>IS 1892; IS 2131; IS 2132</strong></ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Type of Structure:</strong><span class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-input type="text" cass="input" [(ngModel)]="typeOfStructure"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Borehole Number:</strong><span class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-input type="text" cass="input" [(ngModel)]="boreholeNumber"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Borehole Location:</strong><span class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-input type="text" cass="input" [(ngModel)]="boreholeLocation"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

       <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Borehole Coordinates:</strong> <span class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input" (click)="getLocations()">
            <ion-input type="text" cass="input" [(ngModel)]="latitude" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">

          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-input type="text" cass="input" [(ngModel)]="longitude"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Borehole Chainage:</strong><span class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-input type="text" cass="input" [(ngModel)]="boreholeChainage"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>

        <ion-col size="12">
          <ion-item class="input">
            <ion-label>Borehole StartDate</ion-label>
            <ion-input
              value="{{ date | date: 'dd-MM-yyyy' }}"
              id="date"
              class="ion-text-end"
            >
          </ion-input>
            <ion-popover trigger="date" size="cover">
              <ng-template>
                <ion-datetime
                  presentation="date"
                  [(ngModel)]="date"
                ></ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
              </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Borehole RL (m):</strong><span class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-input type="number" cass="input" [(ngModel)]="rl" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Water Table RL (m):</strong><span class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-input type="number" cass="input" [(ngModel)]="waterTable"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Type of Rig:</strong><span class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-item>
              <ion-select  placeholder="Select " (ionChange)="rigChange($event)">
                <ion-select-option value="Mechanical">Mechanical</ion-select-option>
                <ion-select-option value="Hydraulic">Hydraulic</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Type of Drilling:</strong><span class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-item>
              <ion-select  placeholder="Select " (ionChange)="drillChange($event)">
                <ion-select-option value="Rotary">Rotary</ion-select-option>
                <ion-select-option value="Auger">Auger</ion-select-option>
                <ion-select-option value="Bentonite Slurry">Bentonite Slurry</ion-select-option>

              </ion-select>
            </ion-item>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Circulation Fluid:</strong><span class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-item>
              <ion-select  placeholder="Select " (ionChange)="circulationChange($event)">
                <ion-select-option value="Bentonite Slurry">Bentonite Slurry</ion-select-option>
                <ion-select-option value="Water">Water</ion-select-option>
                <ion-select-option value="Polymer Mud System" style="white-space: pre-wrap !important;">Polymer Mud System</ion-select-option>

              </ion-select>
            </ion-item>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Drilling Orientation:</strong><span class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-item>
              <ion-select  placeholder="Select " (ionChange)="oriantionChange($event)">
                <ion-select-option value="Vertical">Vertical</ion-select-option>
                <ion-select-option value="Inclined">Inclined</ion-select-option>


              </ion-select>
            </ion-item>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="isInclined">
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Angle With Horizontal:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-input type="text" cass="input" [(ngModel)]="angleWithHorizontal"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Borehole dia:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-input type="text" cass="input" [(ngModel)]="boreholeDia"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Casing dia:</strong><span class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-input type="text" cass="input" [(ngModel)]="boreholeCasingDia"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Casing Depth:</strong><span class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-input type="text" cass="input" [(ngModel)]="casingDepth"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row   >
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Details of Drilling Bit:</strong><span class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">

            <ion-select  placeholder="Select" (ionChange)="detailDrillinBitChange($event)">
               <ion-select-option value="Tungsten Carbide Bit">Tungsten Carbide Bit</ion-select-option>
               <ion-select-option value="Diamond Bit">Diamond Bit</ion-select-option>

             </ion-select>

            </ion-item>
        </ion-col>
      </ion-row>


      <ion-row  >
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Details of Core Barrel:</strong><span class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">

            <ion-select  placeholder="Select" (ionChange)="detailOfCoreBarrel($event)">
               <ion-select-option value="Single Tube">Single Tube</ion-select-option>
               <ion-select-option value="Double Tube">Double Tube</ion-select-option>
               <ion-select-option value="Triple Tube">Triple Tube</ion-select-option>

             </ion-select>

            </ion-item>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" style="text-transform: none;" class="button" (click)="validation()">
            Save
          </ion-button>

        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" style="text-transform: none;" class="button" (click)="validation()">
            Next
          </ion-button>

        </ion-col>

      </ion-row>
      </ion-grid>


    </ion-list>
</ion-content>
