<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/sidemenu"></ion-back-button>
    </ion-buttons>
    <ion-title style="white-space: pre-wrap !important;" >Organiztion</ion-title>


  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-list>

  <ion-item class="padding">
    <ion-label class="label"><strong>Layer1</strong></ion-label>
  </ion-item>

  <ion-item class="padding1">
    <ion-label class="label"><strong>Organization Details</strong></ion-label>
  </ion-item>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-item class="padding">
          <ion-label  style="white-space: pre-wrap !important;"><strong>Organization Name:</strong></ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item class="input">
          <ion-input type="text" cass="input"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item class="padding">
          <ion-label  style="white-space: pre-wrap !important;"><strong>Organization Address:</strong></ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item class="input">
          <ion-input type="text" cass="input"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item class="padding">
          <ion-label  style="white-space: pre-wrap !important;"><strong>Organization Logo</strong></ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
    <img src="assets/images/aarveicon.png" alt="app icon" class="img2" />
  </ion-col>
    </ion-row>

  </ion-grid>
  <ion-item class="padding1">
    <ion-label class="label"><strong>Project Information</strong></ion-label>
  </ion-item>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-item class="padding">
          <ion-label  style="white-space: pre-wrap !important;"><strong>Project Name:</strong></ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item class="input">
          <ion-input type="text" cass="input"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item class="padding">
          <ion-label  style="white-space: pre-wrap !important;"><strong>Clent Name:</strong></ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item class="input">
          <ion-input type="text" cass="input"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-item class="padding">
          <ion-label  style="white-space: pre-wrap !important;"><strong>Project Location:</strong></ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item class="input">
          <ion-input type="text" cass="input"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item class="padding">
          <ion-label  style="white-space: pre-wrap !important;"><strong>Package:</strong></ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item class="input">
          <ion-input type="text" cass="input"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-item class="padding">
          <ion-label  style="white-space: pre-wrap !important;"><strong>Number of Boreholes:</strong></ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item class="input">
          <ion-input type="Number" cass="input"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-item class="padding1">
    <ion-label class="label"><strong>Sub Agency Details</strong></ion-label>
  </ion-item>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-item class="padding">
          <ion-label  style="white-space: pre-wrap !important;"><strong>Sub Agency Name:</strong></ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item class="input">
          <ion-input type="text" cass="input"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item class="padding">
          <ion-label  style="white-space: pre-wrap !important;"><strong>Sub Agency Address:</strong></ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item class="input">
          <ion-input type="text" cass="input"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-item class="padding">
          <ion-label  style="white-space: pre-wrap !important;"><strong>Sub Agency Logo:</strong></ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <img src="assets/images/aarveicon.png" alt="app icon" class="img2" />
      </ion-col>
    </ion-row>




  </ion-grid>
  <ion-button  expand="block" style="text-transform:none" class="button">Save  </ion-button>
</ion-list>

</ion-content>
