<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/sidemenu"></ion-back-button>
    </ion-buttons>
    <ion-title style="white-space: pre-wrap !important;" >Layer4</ion-title>


  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label style="white-space: pre-wrap !important;"><strong>Depth of Water Table RL (m):</strong><span
                class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-input type="number" cass="input" [(ngModel)]="waterTable"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Depth of termination (m):</strong><span class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-input type="number" [(ngModel)]="depthOfTermination" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>

        <ion-col size="12">
          <ion-item class="input">
            <ion-label>Borehole End Date</ion-label>
            <ion-input
              value="{{ date | date: 'dd-MM-yyyy' }}"
              id="date"
              class="ion-text-end"
            >
          </ion-input>
            <ion-popover trigger="date" size="cover">
              <ng-template>
                <ion-datetime
                  presentation="date"
                  [(ngModel)]="date"
                  locale="sl-SI"

                ></ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>


              </ion-col>
      </ion-row>



      <ion-row >
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>AARVEE Representative Name:</strong><span class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-input type="text" [(ngModel)]="aarveRepresName" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row >
        <ion-col size="10">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>AARVEE Representative Signature:</strong><span class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-icon  name="create"  (click)="clear1()"></ion-icon>

        </ion-col>


      </ion-row>
      <ion-row>
        <ion-col size="12" class="padding">
          <div>
            <canvas #canvas (touchstart)="startDrawing($event)" (touchmove)="moved($event)"></canvas>
         </div>

        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Sub Agency Representative Name:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-input type="text" [(ngModel)]="subAgencyRepresentivaeName" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row >
        <ion-col size="10">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Sub Agency Representative Signature:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-icon  name="create"  (click)="clear2()"></ion-icon>

        </ion-col>


      </ion-row>
      <ion-row>
        <ion-col size="12" class="padding">
          <div>
            <canvas #canvas1 (touchstart)="startDrawing($event)" (touchmove)="moved($event)"></canvas>
         </div>

        </ion-col>

      </ion-row>


      <ion-row >
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Client Representative Name:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-input type="text" [(ngModel)]="clientRepresNaame" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row >
        <ion-col size="10">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Client Representative Signature:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-icon  name="create"  (click)="clear3()"></ion-icon>

        </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="padding">
            <div>
              <canvas #canvas2 (touchstart)="startDrawing($event)" (touchmove)="moved($event)"></canvas>
           </div>

          </ion-col>



        </ion-row>




        <ion-row>
          <ion-col size="6">
            <ion-item class="padding">
              <ion-label  style="white-space: pre-wrap !important;"><strong>  Depth Termination Picture:</strong><span class="required-asterisk">*</span></ion-label>
            </ion-item>

          </ion-col>

          <ion-col size="4">
            <img #previewimage>

            <!-- <ion-img [src]="originalImage"></ion-img> -->
          </ion-col>

          <ion-col size="1">

            <ion-button title="camera" (click)="imageSelection()">
              <ion-icon  name="camera" ></ion-icon>
              </ion-button>
          </ion-col>


        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-item class="padding">
              <ion-label  style="white-space: pre-wrap !important;"><strong>Sample Picture:</strong><span class="required-asterisk">*</span></ion-label>
            </ion-item>

          </ion-col>

          <ion-col size="4">


            <img #previewimage2>
          </ion-col>

          <ion-col size="1">

            <ion-button title="camera" (click)="imageSelection2()">
              <ion-icon  name="camera" ></ion-icon>
              </ion-button>
          </ion-col>


        </ion-row>





        <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-button expand="block" (click)="validation()" style="text-transform: none;">Submit</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="block" (click)="skipnow()" style="text-transform: none;">Go to dashboard</ion-button>
          </ion-col>


        </ion-row>
      </ion-grid>
    </ion-grid>
    <!-- <img src='{{ signatureImg }}' />
    <img src='{{ signatureImg1 }}' />
    <img src='{{ signatureImg2 }}' /> -->

  </ion-list>


</ion-content>

