<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/viewlist"></ion-back-button>
    </ion-buttons>
    <ion-title style="white-space: pre-wrap !important;" >Layer2 - View/Edit</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>


    <ion-item class="padding1">
      <ion-label class="label"><strong>Layer 2</strong><span class="required-asterisk">*</span></ion-label>
    </ion-item>

    <ion-item class="padding1">
      <ion-label class="label"><strong>Borehole Information</strong><span class="required-asterisk">*</span></ion-label>
    </ion-item>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Reference Standard Used:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-label  style="white-space: pre-wrap !important;"><strong>IS 4464; IS 6926; IS 5313</strong> </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>







      <!-- <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong> Chainage:</strong><span class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <input type="number"  list="chainList" [(ngModel)]='chainage'
            (change)="selected(chainage)" />


          </ion-item>
        </ion-col>
      </ion-row>

      <datalist id="chainList">
        <option *ngFor="let series of chaingeList" [value]="series.chainage">
          {{ series.chainage }}

        </option>
      </datalist> -->


      <ion-row>
        <ion-col size="12">
          <ion-item class="padding">
            <ion-label style="white-space: pre-wrap !important;"><strong> Chainage:</strong><span
                class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item class="input">

              <ion-auto-complete  [dataProvider]="completeTestService"
              (ionChange) = "getValue($event)" [ngStyle]="styles.list"
              #searchbar></ion-auto-complete>
                    </ion-item>
          </ion-col>
          </ion-row>



      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Borehole Number:</strong><span class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-label>{{boreholeNumber}}</ion-label>

          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label style="white-space: pre-wrap !important;"><strong>Type of Structure:</strong><span
                class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-item>
              <ion-label>{{typeOfStructure}}</ion-label>

            </ion-item>
          </ion-item>
        </ion-col>
      </ion-row>



      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label style="white-space: pre-wrap !important;"><strong>Type of Bridge:</strong><span
                class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-item>
              <ion-label>{{typeOfBridge}}</ion-label>

            </ion-item>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label style="white-space: pre-wrap !important;"><strong>Type of Crossing:</strong><span
                class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-item>
              <ion-label>{{typeOfCrossing}}</ion-label>

            </ion-item>
          </ion-item>
        </ion-col>
      </ion-row>








      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Easting:</strong><span class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input" >
            <ion-input type="text" cass="input" [(ngModel)]="easting" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong> Northing:</strong><span class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-input type="text" cass="input" [(ngModel)]="northing"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>



      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>  Borehole picture:</strong><span class="required-asterisk">*</span></ion-label>
          </ion-item>

        </ion-col>

        <ion-col size="4">
          <img #previewimage>

          <!-- <ion-img [src]="originalImage"></ion-img> -->
        </ion-col>

        <ion-col size="1">

          <ion-button title="camera" (click)="imageSelection()">
            <ion-icon  name="camera" ></ion-icon>
            </ion-button>
        </ion-col>


      </ion-row>


      <ion-row>

        <ion-col size="12">
          <ion-item class="input">
            <ion-label>Borehole StartDate</ion-label>
            <ion-input
              value="{{ date | date: 'dd-MM-yyyy' }}"
              id="date"
              class="ion-text-end"
            ></ion-input>
            <ion-popover trigger="date" size="cover">
              <ng-template>
                <ion-datetime
                  presentation="date"
                  [(ngModel)]="date"
                  locale="sl-SI"
                ></ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
              </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Borehole RL (m):</strong><span class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-input type="number" cass="input" [(ngModel)]="rl" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>



      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Method of Drilling:</strong><span class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-item>
              <ion-select interface="popover" placeholder="Select " (ionChange)="rigChange($event)" value="{{typeOfRig}}">
                <ion-select-option value="Rotary drilling with Mud Circulation">Rotary drilling with Mud Circulation</ion-select-option>
                <ion-select-option value="Other">Other</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="isRigOther">
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Other:</strong><span class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-input type="text" cass="input" [(ngModel)]="rigOther"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>






      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Drilling Orientation:</strong><span class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-item>
              <ion-select interface="popover"  placeholder="Select " (ionChange)="oriantionChange($event)" value="{{orientation}}">
                <ion-select-option value="Vertical">Vertical</ion-select-option>
                <ion-select-option value="Inclined">Inclined</ion-select-option>


              </ion-select>
            </ion-item>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isInclined">
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Angle With Horizontal:</strong><span class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-input type="text" cass="input" [(ngModel)]="angleWithHorizontal"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Borehole dia:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-select interface="popover" placeholder="Select " (ionChange)="boreholeDiaChange($event)" value="{{boreholeDia}}">
              <ion-select-option value="75">75</ion-select-option>
              <ion-select-option value="150">150</ion-select-option>
              <ion-select-option value="Other">Other</ion-select-option>

            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Casing dia:</strong><span class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-select interface="popover" placeholder="Select " (ionChange)="casingDiaChange($event)" value="{{boreholeCasingDia}}">

              <ion-select-option value="80">80</ion-select-option>
              <ion-select-option value="200">200</ion-select-option>
              <ion-select-option value="Other">Other</ion-select-option>
            </ion-select>


          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="isCasingDiaOther">
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label style="white-space: pre-wrap !important;"><strong>Casing Dia Other:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-input type="number" cass="input" [(ngModel)]="casingDiaOther"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Casing Depth:</strong></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-input type="number" cass="input" [(ngModel)]="casingDepth"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row  >
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Details of Drilling Bit:</strong><span class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">

            <ion-select  interface="popover" placeholder="Select" (ionChange)="detailDrillinBitChange($event)" value="{{detailsOfDrillingBit}}">
               <ion-select-option value="Tungsten Carbide Bit">Tungsten Carbide Bit</ion-select-option>
               <ion-select-option value="Diamond Bit">Diamond Bit</ion-select-option>
               <ion-select-option value="Other">Other</ion-select-option>

             </ion-select>

            </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="isDrillOther">
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Other:</strong><span class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">
            <ion-input type="text" cass="input" [(ngModel)]="rigOther"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>



      <ion-row  >
        <ion-col size="6">
          <ion-item class="padding">
            <ion-label  style="white-space: pre-wrap !important;"><strong>Details of Core Barrel:</strong><span class="required-asterisk">*</span></ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input">

            <ion-select  interface="popover" placeholder="Select" (ionChange)="detailOfCoreBarrel($event)" value="{{detailsOdCoreBarrel}}">
               <ion-select-option value="Single Tube">Single Tube</ion-select-option>
               <ion-select-option value="Double Tube">Double Tube</ion-select-option>
               <ion-select-option value="Triple Tube">Triple Tube</ion-select-option>

             </ion-select>

            </ion-item>
        </ion-col>
      </ion-row>

      </ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button  expand="block" style="text-transform: none;" (click)="validation()">
            Update and Proceed

          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button  expand="block" style="text-transform: none;" (click)="onClick()">
            Next
          </ion-button>

        </ion-col>

      </ion-row>
      </ion-list>
</ion-content>
